<!DOCTYPE html>
<html>
<head>
    <title>Ansible Automation Project</title>
</head>
<body>
    <h1>Server Configured with Ansible</h1>
    <p>This web server was deployed using Infrastructure as Code.</p>
    <p>Created by Iris Daniels.</p>
</body>
</html>